
.grid {
	display: grid;
	grid-template-columns: 24% 24% 24% 24%;
	grid-template-rows: 300px;
	grid-column-gap: 4px;
	grid-row-gap: 50px;
}

.e-preview {
	cursor: pointer;
	height: 100%;
}

.hljs {
	height: 100%;
}

.e-container {
	position: relative;
}

.e-container:hover .playbtn {
	display: block;
}

.playbtn {
	position: absolute;
	margin-top: -20px;
	top: 40%;
	left: 50%;
	display: none;
	z-index: 100;
}

