<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script type="text/javascript" src="{{url_for('static',filename='./ace-builds/src-min-noconflict/ace.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='./ace-builds/src-min-noconflict/ext-language_tools.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='./ace-builds/src-min-noconflict/ext-settings_menu.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='./ace-builds/src-min-noconflict/ext-statusbar.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='./ace-builds/src-min-noconflict/ext-keybinding_menu.js')}}"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/github-dark.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='./style0.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='./style.css')}}"/>
	<title>Ace Code Recorder</title>
</head>
<body>
	<script>
		var keystrokes = [];
		fetch("/procors/" + {{filename}},
                {method: 'GET'}
            ).then(
                resp => resp.json().then(
                            function(data){
                                keystrokes = data.code;
                                let slider = document.getElementById('myRange');
                                slider.max = keystrokes[keystrokes.length - 1].timestamp;
                                slider.style.display = "block";
                                play();
                            }
                                )
                ).catch(e => console.log(e));
	</script>
	<p>Ace Recorder is an online Python IDE and recorder built with the <a href="https://ace.c9.io/">Ace</a> code editor.</p>
	<p>Record coding sessions, download, upload and replay them as often as you want.</p>
	<p>Recordings are interactive, so you can directly copy code from the 'video'. You can even pause and edit the code to run it in real-time!</p>
	<span><button onclick="window.location.href='/help'" style="height: 50px;">Learn More</button></span>
	<span><button style="margin-left: 600px; height: 50px;" onclick="window.location.href='{{url_for('environ',fname='new')}}'">Start Recording</button></span>
	<div class="edit" style="margin: 50px;">
		<div class="editor" id="editor-main" style="height: 460px;"></div>
		<div class="slidecontainer hide-when-rec" style="width:100%;">
            <input type="range" style="width:100%;" min="0" max="1000" value="0" class="timeline" id="myRange">
        </div>
        <div id="play-btn" class="play-btn rowblock hide-when-rec"></div>
        <span><button onclick="window.location.href='{{url_for('environ',fname=filename)}}'">Run this code &gt;</button></span>
	</div>
	<h3>Suggested Recordings</h3>
	<div class="grid">
		<!--videos is a list of dictionaries: {'text':{'code':'','terminal':''},'media_link':''}
			code and terminal are json strings representing the recordings.
		-->
		{% for vid in videos %}
			<div class="e-container" onclick="window.location.href= '{{url_for('environ',fname=vid['filename'][:-4])}}'">
			<pre class="e-preview"><code class="language-python">{{ vid['lastcode']}}
				</code>
			</pre>
			<div class="playbtn"><img src="./static/images/play-icon-white.jpg" width="40" height="40" /></div>
			</div>
		{% endfor %}
	</div>
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
	<script>hljs.highlightAll();</script>
	<script type="text/javascript" src="{{url_for('static',filename='main.js')}}"></script>
</body>
</html>